.sidebar {
  width: 200px; /* Increased width to accommodate buttons */
  padding: 1rem;
  background-color: #161616 !important;
  border-right: 1px solid #e0e0e0;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.sidebar-section {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1rem;
  color: #888;
  margin-bottom: 0.5rem;
}

.chips,
.accounts {
  display: flex;
  flex-direction: column;
}

.chip,
.account {
  margin: 0.25rem 0;
}

.avatar {
  background-color: #db1717 !important;
  color: #ffffff;
  margin-right: 0.5rem;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.account-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.account-name {
  font-size: 0.875rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 0.5rem;
}

.subscribe-button {
  background-color: #1976d2;
  color: white;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  min-width: auto;
}
